/*Main css*/
body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: arial;
    font-size: 16px;
}

.wrapper {
    width: 100%;
}

.list {
    list-style: none;
}
  
.link {
    text-decoration: none;
    outline: none;
}

.container {
    display: flex;
    justify-content: center;
    width: 1000px;
    padding: 20px;
}

/*Header css*/
.header {
    background: #cccccc;
}

.header__content {
    padding: 5px;
}

/*Nav css*/
.nav__list {
    display: inline-block;
    vertical-align: middle;
    padding: 15px 25px;
    margin: 2px;
    cursor: pointer;
}

/*Theme button css*/
.theme-button {
    position: absolute;
    right: 5px;
    top: 25px;
    display: inline-block;
    padding: 10px 25px;
    color: #f4f4f4;
    background: #4f7faf;
    cursor: pointer;
}

.theme-button:hover {
    background: #6f9fcf;
}

.img {
    margin: 50px auto 50px 50px;
}

.table {
	border-style: solid;
	border-color: #4f7faf;
	background-color: rgb(142, 142, 143);
}

/*Footer css*/
.footer {
    background-color: #4f7faf;
}

.footer__content {
    padding: 5px;
}